@import url('https://fonts.googleapis.com/css?family=Bellefair|Lato|Montserrat|Slabo+27px');

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3c250a;
}

p, li {
    font-family: 'Slabo 27px', serif;
    color: #3c250a;
}

.project {
    background-color:#E3E2E5;
    width: 543px;
}

body{
    background: url('../images/2144.jpg') no-repeat center center fixed;
    background-size: cover
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

header, footer{
    background-color: #EFFAFF;
    text-align: center;
    padding: 15px 30px;
}

.main-content{
    background-color: #D7E1E5;
    padding: 10px 0;
}

header img {
    width: 50%;
    border-radius: 15px;
}

.main-content ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
    text-align: center;
}

.main-content ul li {
    padding: 10px;
    display: inline;
    font-weight: bold;
}

a{
    color: black;
    text-decoration: none;
}

.main-content p {
    margin: 10px 40px;
}

.main-content h2{
    text-align: center;
}

#projects {
    background-color: #B3BCBF;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.project {
    width: 30%;
    display: inline-block;
    background-color: #f2e9dc;
    margin: 1.66%;
    border-radius: 15px;
    float: left;
}

.project h2 {
    text-align: center;
}

.project img {
    max-width: 100%;
}